@import "./colors.css";

.category-btn {
    background-color: var(--light-back-color);
    margin: 1rem 10px 0 10px;
    color: var(--text-col);
}

.category-btn:active,.category-btn:hover {
    box-shadow: var(--all-side-bold-shadow);
}