:root {
    --background-col: #240046;
    --text-col: #E9ECEF;
    --light-back-color: #6B22AD;
    --back-col: rgb(2, 0, 36);
    --light-color: #E0AAFF;
    --little-dark-purple:#C77DFF;
    --little-light-purple:#7B2CBF;
    --bottom-shadow: 0px 15px 10px -15px var(--light-color);
    --right-bottom-shadow: 15px -10px 15px -15px var(--little-dark-purple);
    --all-side-shadow: 0px 0px 2px 2px var(--little-light-purple);
    --all-side-bold-shadow: 0px 0px 5px 5px var(--little-dark-purple);
    --top-shadow: 0px -15px 10px -15px var(--light-color);
}