@import "./colors.css";

.video-card-page aside .must-watch-video {
    display: flex;
    flex-direction: column;
}

.watch-later-container {
    display: flex;
    flex-wrap: wrap;
    color: var(--text-col);
}

.history-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}

.history-container button {
    padding: 0.5rem 1rem;
    height: max-content;
}

@media only screen and (max-width:600px) {
    .hist {
        margin-left: 10px;
    }

    .history-container {
        padding: 10px;
    }

    .history-container h2 {
        margin: 10px 0;
        font-size: 1.2rem;
    }

    .history-container button,
    .playlist-heading button {
        font-size: 0.8rem;
    }

    .watch-later-container h3,
    .playlist-heading h2 {
        font-size: 1rem;
    }

}

@media only screen and (max-width:400px) {
    .history-container {
        padding: 5px;
    }

    .history-container button {
        padding: 0.5rem;
    }
}