@import "./colors.css";

.video-card-page aside .must-watch-video{
    display: flex;
    flex-direction: column;
}

.watch-later-container{
    display:flex;
    flex-wrap: wrap;
    color:var(--text-col);
}