.sidebar-container {
    display: flex;
    flex-direction: column;
    background-color: var(--background-col);
}

.side-list {
    font-size: larger;
    padding: 1rem;
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 0.6rem;
}

.side-list:hover {
    background-color: var(--light-back-color);
}