@import "./colors.css";

.video-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.video {
    padding: 10px;
    margin: 1rem;
    max-width: fit-content;
}

.video:hover {
    box-shadow: var(--all-side-shadow);
}

.video .container {
    width: 15rem;
}

.video .image .img {
    width: 250px;
    height: 200px;
}

.video .text .title {
    margin: 2px 0;
    color: var(--text-col);
    font-size: 1rem;
}

.video .text{
    margin:1rem 0;
}
.video .container {
    background-color: var(--back-col);
}

.video button {
    width: 100%;
}